* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "sm";
  src: url("fonts/monumentextended-ultrabold-webfont.woff2"), format("woff2");
  src: url("fonts/monumentextended-ultrabold-webfont.woff") format("woff");
}

@font-face {
  font-family: "titles";
  src: url("fonts/monumentextended-regular-webfont.woff2"), format("woff2");
  src: url("fonts/monumentextended-regular-webfont.woff") format("woff");
}



.center {
  background-image: url("assets/CS-GO-wallpaper-HD-Fnatic-champion_hu4b6056254d598eda2a101c6c6ee9c68a_592457_1920x1080_resize_q75_lanczos\ \(7\)\ \(1\).jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

h1 {
  font-family: sm;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding-top: 7%;
  font-size: 4rem;
  position: relative;
}

.games {
  text-align: center;
  padding-top: 3rem;
}

.games .item {
  font-family: titles;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  padding-top: 3rem;
  position: relative;
}

.games li{
  transition: 0.2s ease-in-out;
}

.games li:hover{
  transform:scale(1.02);
}



#particles-js{
  background-color: rgb(15, 23, 42);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  background-position: 50% 50%;
}

h2{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  position: relative;
}

.valorantTitle{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  color: rgb(195, 46, 46);
  padding-top: 1rem;
  font-size: 2rem;
  position: relative;
}
